*> {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: Impact;
    src: url(../font/impact.ttf);
}

@font-face {
    font-family: Pangolin;
    src: url(../font/Pangolin-Regular.ttf);
}

@font-face {
    font-family: Parisienne;
    src: url(../font/Parisienne-Regular.ttf);
}

@font-face {
    font-family: Dancing;
    src: url(../font/DancingScript-Regular.ttf);
}

/* BASE */

html {
    font-family: Impact, sans-serif;
    line-height: 1.7;
    color: #626262;
}

header {
    grid-column: span 2;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    padding: 0 15px;
    border-radius: 999px;
}

nav {
    width: 50%;
}

ul {
    width: 100%;
}

li {
    cursor: pointer;
    color: #ffffff;
    padding: 0 18px;
    border: 1px solid white;
    border-radius: 999px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    font-size: 1.25rem;
    margin: 0;
    height: 100vh;
}

main {
    width: 100%;
    grid-column: span 4;
    flex-direction: column;
    background-image: url('../img/bg-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    cursor: pointer;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.875rem;
}

a:hover, li:hover {
    /* color: #000; */
    background-color: #0c98b9;
    transition: background-color 0.3s;
}

footer {
    grid-column: span 2;
    grid-row: 3;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

/* LAYOUT */

.main-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 4fr 1fr;
    background-color: #22252c;
}

/**** COMPONENTS ****/

/** HEADER **/

.logo {
    font-family: Parisienne, Dancing, Pangolin, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #ffffff;
    letter-spacing: 5px;
    align-self: center;
    justify-self: center;
}

.logo span {
    color: #4debe5;
}

/** MAIN **/

/* search bar */

.search-bar {
    grid-column: span 2;
    margin-top: 10px;
    padding: 0 15px
}

.search-bar .input-search {
    height: 3.5rem;
    max-width: 20rem;
    border-radius: 999px;
    border: none;
    background-color: #646e89;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-inline-start: 2rem;
    padding-inline-end: 1rem;
    margin-inline-end: 15px;
    outline: none;
}

.input-search::placeholder {
    color: white;
}

.fa-search:before {
    position: relative;
    top: 1.3rem;
    right: 19rem;
    color: #2bff00;
    cursor: pointer;
}

.search-words {
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 20rem;
    height: 3.5rem;
    padding: 0 10px;
    background-color: #87898d;
    border-radius: 999px;
    font-size: .85rem;
    overflow: hidden;
}

.search-words .keyword {
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    margin: 1px 6px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

body.opened .search-words {
    height: fit-content;
}

.search-bar a {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, #0f9ab4, #30bc72);
    margin: auto 3px;
    border-radius: 999px;
    color: #ffffff;
    width: 6rem;
    text-align: center;
    align-self: center;
    cursor: pointer;
}

/* Gallerygrid */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 10px;
}

.grid-container>* {
    cursor: pointer;
}

.grid-container img {
    border-radius: 15px;
}

/* Editor page */

.meme-container {
    height: 100%;
}

.meme-container>* {
    margin: 40px;
    justify-self: center;
    align-self: center;
}

#meme-canvas {
    border: 2px solid black;
    border-radius: 30px;
}

/* editor-box */

.txt-editor {
    background-color: #78cfcc;
    justify-self: center;
    align-self: center;
    height: 80%;
    width: 27rem;
    border-radius: 30px;
    padding: 15px;
}

.txt-editor>* {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px;
    font-size: 1.5rem;
    border-radius: 10px;
}

.txt-editor .upper-btns>* {
    background-color: #78cfcc;
    border-radius: 10px;
    font-size: 2.3rem;
    border-radius: 10px;
    cursor: pointer;
    margin-inline-start: 2rem;
}

/* Text editor inner grid */

.text-edit-grid {
    display: grid;
    grid-template-columns: repeat(5, 3rem);
    grid-template-rows: repeat(2, 3rem);
    gap: 20px;
    border-radius: 15px;
    border: 1px solid black;
    grid-template-areas: "size size size bg stroke-color" "font font font stroke-width stroke-width";
    padding: 20px;
}

.text-edit-grid>* {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    align-self: center;
}

.text-edit-grid .font-select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    cursor: pointer;
    grid-column: 1/4;
    grid-area: font;
    padding: 0 10px;
}

.button-edit-text {
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.color-container .color-icon {
    width: 3rem;
    height: 3rem;
}

.color-input {
    position: absolute;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    opacity: 0;
}
.color-img {
    width: auto;
}

.stroke-color-btn {
    grid-area: stroke-color;
    right: 30px;
}

.stroke-width {
    grid-area: stroke-width;
    width: 5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-color-btn {
    grid-area: bg;
}

.size-edit {
    grid-area: size;
}

.stickers-main {
    background-color: white;
    border-radius: 999px;
    min-width: 100%;
    margin-bottom: 27px;
    outline: none;
}

.stickers-main .stickers-arrow {
    font-size: 1.5rem;
    color: #444dee;
    padding: 0px 10px;
    cursor: pointer;
}

.stickers-container {
    height: 5.625rem;
    outline: none;
    overflow: hidden;
    margin: 0px 3px;
}

.stickers-container img {
    max-width: 25%;
    max-height: 70%;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, 0.657));
    cursor: pointer;
}

.save-btns>* {
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 999px;
    padding: 10px;
    text-decoration: none;
    color: #000000;
}

/* MODAL */

.modal {
    justify-content: space-between;
    position: absolute;
    width: 45rem;
    height: 18rem;
    font-size: 2.5rem;
    text-align: center;
    border: 2px solid #4debe5;
    color: #4debe5;
    border-radius: 15px;
    padding: 15px;
    background-color: #646e89;
    z-index: 2;
    font-family: 'Segoe UI';
}

.modal h3 {
    margin: 0;
}


/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-evenely {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.flex-1 {
    flex-grow: 1;
}

/* list-helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* hide-helpers */

.hidden {
    display: none;
}


/*---- Media Queries ----*/

@media(max-width: 1060px) {
    .txt-editor {
        width: 40%;
    }
}

@media(max-width: 870px) {
    html {
        font-size: 14px;
    }
    .main-nav {
        flex-direction: column;
    }
    .search-bar {
        flex-flow: wrap;
        justify-content: center;
    }
    .search-bar .input-search {
        min-width: 100%;
        padding-inline-start: 0.3em;
    }
    .search-input-container {
        min-width: 100%;
        margin-bottom: 10px;
    }
    .meme-container {
        flex-direction: column;
    }

    .txt-editor {
        margin: 0;
        margin-bottom: 30px;
        min-width: 60%;
    }
  
    #my-canvas {
        margin: auto 30px;
    }
 
}

@media(max-width: 550px) {
    html {
        font-size: 12px;
    }
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo {
        font-size: 3rem;
    }
    #meme-canvas {
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .main-nav {
        flex-direction: row;
        padding: 0 10px;
        margin: 2px;
        width: 100%;
    }
    .txt-editor {
        width: 90%;
    }
    .txt-editor>* {
        margin-bottom: 10px;
    }
    .modal{
        width: 25rem;
        height: 12rem;
        font-size: 1.7rem;
        top: 30px;
        left: 10px
    }
}


