*> {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: Impact;
    src: url(/fonts/impact.ttf);
}

@font-face {
    font-family: Lato-reg;
    src: url(/fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-bold;
    src: url(/fonts/lato/Lato-Bold.ttf);
}

/* BASE */

html {
    font-family: Impact, sans-serif;
    line-height: 1.7;
    color: #626262;
}

header {
    grid-column: span 2;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

nav {
    width: 50%;
}

ul {
    width: 100%;
}

body {
    font-size: 0.875rem;
    margin: 0;
    height: 100vh;
}

main {
    width: 100%;
    grid-column: span 2;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: 400;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.875rem;
}

p {
    margin-top: 0;
    margin-bottom: 1.6rem;
}

a {
    color: #b4ad9e;
}

a:hover {
    color: #000;
}


/* LAYOUT */

.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.2rem;
}

/* COMPONENTS */

/* header */

/* main */

.main-grid{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}

.meme-container{
    height: 100%;
    background-color: #22252c;
}

.meme-container > *{
justify-self: center;
align-self: center;
}

.meme-control{
    width: 100%;
    height: 100%
}

#meme-canvas {
    border: 2px solid black;
}

.txt-editor {
    height: 70%;
    background-color: #ccc;
    justify-self: center;
    align-self: center;
 
}

.txt-editor>* {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    font-size: 1.5rem;
}

.text-edit-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 15px;
    background-color: #19a59f;
}
.text-edit-container > * {
    align-self: center;
    justify-self: center;
}

.save-btns {
    justify-content: space-between;
}

/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.flex-1 {
    flex-grow: 1;
}

/* list-helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s;
}

/* hide-helpers */

.hidden {
    display: none;
}

/* margin-helpers */

.margin-bottom {
    margin-bottom: 5rem;
}

/*---- Media Queries ----*/